In [16]:
import pandas as pd
s=pd.Series([9904312, 3448737, 2890451, 2466052],
           index=["서울","부산","인천","대구"])
s

서울    9904312
부산    3448737
인천    2890451
대구    2466052
dtype: int64

In [17]:
s.index

Index(['서울', '부산', '인천', '대구'], dtype='object')

In [18]:
s.values

array([9904312, 3448737, 2890451, 2466052], dtype=int64)

In [19]:
s.index.name="도시"
s

도시
서울    9904312
부산    3448737
인천    2890451
대구    2466052
dtype: int64

In [43]:
data = {
    "2015": [9904312, 3448737, 2890451, 2466052],
    "2010": [9631482, 3393191, 2632035, 2431774],
    "2005": [9762546, 3512547, 2517680, 2456016],
    "2000": [9853972, 3655437, 2466338, 2473990],
    "지역": ["수도권", "경상권", "수도권", "경상권"],
    "2010-2015 증가율": [0.0283, 0.0163, 0.0982, 0.0141]
}
columns = ["지역", "2015", "2010", "2005", "2000", "2010-2015 증가율"]
index = ["서울", "부산", "인천", "대구"]
df = pd.DataFrame(data, index=index, columns=columns)
df.index.name='도시'
df.columns.name='특성'
df[['지역','2015']]
df[['지역','2015']][0:2]

특성   지역     2015
도시
서울  수도권  9904312
부산  경상권  3448737