In [3]:
import pandas as pd

data = pd.read_csv('/Users/leedonghyeok/Desktop/data_jeju/내비게이션데이터/6월/티맵 OD data_0601_0605.csv', 
                   delimiter = ',')
data_0601_0605 = data[data['cate_name_b'] == '시장']

data = pd.read_csv('/Users/leedonghyeok/Desktop/data_jeju/내비게이션데이터/6월/티맵 OD data_0606_0610.csv', 
                   delimiter = ',')
data_0606_0610 = data[data['cate_name_b'] == '시장']

data = pd.read_csv('/Users/leedonghyeok/Desktop/data_jeju/내비게이션데이터/6월/티맵 OD data_0611_0615.csv', 
                   delimiter = ',')
data_0611_0615 = data[data['cate_name_b'] == '시장']

data = pd.read_csv('/Users/leedonghyeok/Desktop/data_jeju/내비게이션데이터/6월/티맵 OD data_0616_0620.csv', 
                   delimiter = ',')
data_0616_0620 = data[data['cate_name_b'] == '시장']

data = pd.read_csv('/Users/leedonghyeok/Desktop/data_jeju/내비게이션데이터/6월/티맵 OD data_0621_0625.csv', 
                   delimiter = ',')
data_0621_0625 = data[data['cate_name_b'] == '시장']

data = pd.read_csv('/Users/leedonghyeok/Desktop/data_jeju/내비게이션데이터/6월/티맵 OD data_0626_0630.csv', 
                   delimiter = ',')
data_0626_0630 = data[data['cate_name_b'] == '시장']

In [9]:
june = pd.concat([data_0601_0605, data_0606_0610, data_0611_0615, data_0616_0620, data_0621_0625, data_0626_0630],
               axis = 0)

,std_ym,std_ymd,arrival_hour,local_user,sex,age,org,dest,catecode_a,catecode_b,catecode_c,catecode_d,cate_name_a,cate_name_b,cate_name_c,cate_name_d,visit_cnt
311,202106,20210601,8,foreign,NaN,NaN,Grid863_2849,Grid888_2839,8,17,1,99,쇼핑,시장,재래시장,기타,1
342,202106,20210601,8,foreign,NaN,NaN,Grid890_2844,Grid888_2839,8,17,1,99,쇼핑,시장,재래시장,기타,1
615,202106,20210601,9,foreign,NaN,NaN,Grid875_2851,Grid888_2839,8,17,1,99,쇼핑,시장,재래시장,기타,1
647,202106,20210601,9,foreign,NaN,NaN,Grid891_2839,Grid888_2839,8,17,1,99,쇼핑,시장,재래시장,기타,1
682,202106,20210601,9,foreign,NaN,NaN,Grid956_2825,Grid888_2839,8,17,1,99,쇼핑,시장,재래시장,기타,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
446526,202106,20210630,21,foreign,NaN,NaN,Grid865_2851,Grid888_2839,8,17,1,99,쇼핑,시장,재래시장,기타,1
446557,202106,20210630,21,foreign,M,30s,Grid910_2977,Grid908_2985,8,17,1,99,쇼핑,시장,재래시장,기타,1
446569,202106,20210630,21,foreign,M,50s,Grid964_2846,Grid843_2984,8,17,1,99,쇼핑,시장,재래시장,기타,1
446616,202106,20210630,22,foreign,M,40s,Grid883_2984,Grid908_2985,8,17,1,99,쇼핑,시장,재래시장,기타,1
446631,202106,20210630,23,foreign,NaN,NaN,Grid867_2848,Grid888_2839,8,17,1,99,쇼핑,시장,재래시장,기타,1

In [12]:
data = pd.read_csv('/Users/leedonghyeok/Desktop/data_jeju/내비게이션데이터/7월/티맵 OD data_0701_0705.csv', 
                   delimiter = ',')
data_0701_0705 = data[data['cate_name_b'] == '시장']

data = pd.read_csv('/Users/leedonghyeok/Desktop/data_jeju/내비게이션데이터/7월/티맵 OD data_0706_0710.csv', 
                   delimiter = ',')
data_0706_0710 = data[data['cate_name_b'] == '시장']

data = pd.read_csv('/Users/leedonghyeok/Desktop/data_jeju/내비게이션데이터/7월/티맵 OD data_0711_0715.csv', 
                   delimiter = ',')
data_0711_0715 = data[data['cate_name_b'] == '시장']

data = pd.read_csv('/Users/leedonghyeok/Desktop/data_jeju/내비게이션데이터/7월/티맵 OD data_0716_0720.csv', 
                   delimiter = ',')
data_0716_0720 = data[data['cate_name_b'] == '시장']

data = pd.read_csv('/Users/leedonghyeok/Desktop/data_jeju/내비게이션데이터/7월/티맵 OD data_0721_0725.csv', 
                   delimiter = ',')
data_0721_0725 = data[data['cate_name_b'] == '시장']

data = pd.read_csv('/Users/leedonghyeok/Desktop/data_jeju/내비게이션데이터/7월/티맵 OD data_0726_0731.csv', 
                   delimiter = ',')
data_0726_0731 = data[data['cate_name_b'] == '시장']

In [13]:
july = pd.concat([data_0701_0705, data_0706_0710, data_0711_0715, data_0716_0720, data_0721_0725, data_0726_0731],
               axis = 0)

july

,std_ym,std_ymd,arrival_hour,local_user,sex,age,org,dest,catecode_a,catecode_b,catecode_c,catecode_d,cate_name_a,cate_name_b,cate_name_c,cate_name_d,visit_cnt
309,202107,20210701,8,foreign,NaN,NaN,Grid767_2894,Grid761_3001,8,17,1,99,쇼핑,시장,재래시장,기타,1
345,202107,20210701,8,foreign,NaN,NaN,Grid870_2846,Grid888_2839,8,17,1,99,쇼핑,시장,재래시장,기타,1
409,202107,20210701,8,foreign,F,50s,Grid874_2838,Grid888_2839,8,17,1,99,쇼핑,시장,재래시장,기타,1
706,202107,20210701,9,foreign,NaN,NaN,Grid892_2851,Grid888_2839,8,17,1,99,쇼핑,시장,재래시장,기타,1
744,202107,20210701,9,foreign,NaN,NaN,Grid989_2819,Grid888_2839,8,17,1,99,쇼핑,시장,재래시장,기타,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
607326,202107,20210731,20,foreign,NaN,NaN,Grid873_2845,Grid888_2839,8,17,1,99,쇼핑,시장,재래시장,기타,2
607331,202107,20210731,20,foreign,NaN,NaN,Grid878_2847,Grid888_2839,8,17,1,99,쇼핑,시장,재래시장,기타,1
607447,202107,20210731,21,foreign,NaN,NaN,Grid853_2851,Grid888_2839,8,17,1,99,쇼핑,시장,재래시장,기타,1
607477,202107,20210731,21,foreign,F,30s,Grid885_2841,Grid888_2839,8,17,1,99,쇼핑,시장,재래시장,기타,1
607522,202107,20210731,21,local,M,40s,Grid868_2851,Grid870_2862,8,17,99,99,쇼핑,시장,시장기타,기타,1

In [19]:
data = pd.read_csv('/Users/leedonghyeok/Desktop/data_jeju/내비게이션데이터/8월/티맵 OD data_0801_0805.csv', 
                   delimiter = ',')
data_0801_0805 = data[data['cate_name_b'] == '시장']

data = pd.read_csv('/Users/leedonghyeok/Desktop/data_jeju/내비게이션데이터/8월/티맵 OD data_0806_0810.csv', 
                   delimiter = ',')
data_0806_0810 = data[data['cate_name_b'] == '시장']

data = pd.read_csv('/Users/leedonghyeok/Desktop/data_jeju/내비게이션데이터/8월/티맵 OD data_0811_0815.csv', 
                   delimiter = ',')
data_0811_0815 = data[data['cate_name_b'] == '시장']

data = pd.read_csv('/Users/leedonghyeok/Desktop/data_jeju/내비게이션데이터/8월/티맵 OD data_0816_0820.csv', 
                   delimiter = ',')
data_0816_0820 = data[data['cate_name_b'] == '시장']

data = pd.read_csv('/Users/leedonghyeok/Desktop/data_jeju/내비게이션데이터/8월/티맵 OD data_0821_0825.csv', 
                   delimiter = ',')
data_0821_0825 = data[data['cate_name_b'] == '시장']

data = pd.read_csv('/Users/leedonghyeok/Desktop/data_jeju/내비게이션데이터/8월/티맵 OD data_0826_0831.csv', 
                   delimiter = ',')
data_0826_0831 = data[data['cate_name_b'] == '시장']

In [20]:
august = pd.concat([data_0801_0805, data_0806_0810, data_0811_0815, data_0816_0820, data_0821_0825, data_0826_0831],
               axis = 0)

august

,std_ym,std_ymd,arrival_hour,local_user,sex,age,org,dest,catecode_a,catecode_b,catecode_c,catecode_d,cate_name_a,cate_name_b,cate_name_c,cate_name_d,visit_cnt
242,202108,20210801,7,foreign,NaN,NaN,Grid1060_2835,Grid1041_2831,8,17,1,99,쇼핑,시장,재래시장,기타,1
316,202108,20210801,7,foreign,M,30s,Grid787_2879,Grid767_2892,8,17,1,99,쇼핑,시장,재래시장,기타,1
334,202108,20210801,7,foreign,M,40s,Grid865_2842,Grid888_2839,8,17,1,99,쇼핑,시장,재래시장,기타,1
415,202108,20210801,8,foreign,NaN,NaN,Grid790_2868,Grid888_2839,8,17,1,99,쇼핑,시장,재래시장,기타,1
443,202108,20210801,8,foreign,NaN,NaN,Grid867_2848,Grid888_2839,8,17,1,99,쇼핑,시장,재래시장,기타,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
480153,202108,20210831,18,local,M,20s,Grid888_2838,Grid884_2839,8,17,1,99,쇼핑,시장,재래시장,기타,1
480197,202108,20210831,19,foreign,NaN,NaN,Grid874_2995,Grid908_2985,8,17,1,99,쇼핑,시장,재래시장,기타,1
480256,202108,20210831,19,foreign,M,40s,Grid770_2900,Grid771_2890,8,17,1,99,쇼핑,시장,재래시장,기타,1
480265,202108,20210831,19,foreign,M,40s,Grid957_2826,Grid908_2985,8,17,1,99,쇼핑,시장,재래시장,기타,1
480397,202108,20210831,21,foreign,NaN,NaN,Grid882_2840,Grid877_2841,8,17,3,99,쇼핑,시장,농수축산물시장,기타,1

In [21]:
data = pd.read_csv('/Users/leedonghyeok/Desktop/data_jeju/내비게이션데이터/9월/티맵 OD data_0901_0905.csv', 
                   delimiter = ',')
data_0901_0905 = data[data['cate_name_b'] == '시장']

data = pd.read_csv('/Users/leedonghyeok/Desktop/data_jeju/내비게이션데이터/9월/티맵 OD data_0906_0910.csv', 
                   delimiter = ',')
data_0906_0910 = data[data['cate_name_b'] == '시장']

data = pd.read_csv('/Users/leedonghyeok/Desktop/data_jeju/내비게이션데이터/9월/티맵 OD data_0911_0915.csv', 
                   delimiter = ',')
data_0911_0915 = data[data['cate_name_b'] == '시장']

data = pd.read_csv('/Users/leedonghyeok/Desktop/data_jeju/내비게이션데이터/9월/티맵 OD data_0916_0920.csv', 
                   delimiter = ',')
data_0916_0920 = data[data['cate_name_b'] == '시장']

data = pd.read_csv('/Users/leedonghyeok/Desktop/data_jeju/내비게이션데이터/9월/티맵 OD data_0921_0925.csv', 
                   delimiter = ',')
data_0921_0925 = data[data['cate_name_b'] == '시장']

data = pd.read_csv('/Users/leedonghyeok/Desktop/data_jeju/내비게이션데이터/9월/티맵 OD data_0926_0930.csv', 
                   delimiter = ',')
data_0926_0930 = data[data['cate_name_b'] == '시장']

In [22]:
september = pd.concat([data_0901_0905, data_0906_0910, data_0911_0915, data_0916_0920, data_0921_0925, data_0926_0930],
               axis = 0)

september

,std_ym,std_ymd,arrival_hour,local_user,sex,age,org,dest,catecode_a,catecode_b,catecode_c,catecode_d,cate_name_a,cate_name_b,cate_name_c,cate_name_d,visit_cnt
43,202109,20210901,4,foreign,M,50s,Grid908_2991,Grid888_2836,8,17,3,99,쇼핑,시장,농수축산물시장,기타,1
156,202109,20210901,7,foreign,NaN,NaN,Grid908_2966,Grid908_2985,8,17,1,99,쇼핑,시장,재래시장,기타,1
263,202109,20210901,8,foreign,NaN,NaN,Grid826_2855,Grid888_2839,8,17,1,99,쇼핑,시장,재래시장,기타,1
426,202109,20210901,8,local,NaN,NaN,Grid957_2828,Grid888_2839,8,17,1,99,쇼핑,시장,재래시장,기타,1
551,202109,20210901,9,foreign,NaN,NaN,Grid875_2837,Grid888_2839,8,17,1,99,쇼핑,시장,재래시장,기타,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
392896,202109,20210930,18,foreign,M,40s,Grid909_2987,Grid908_2985,8,17,1,99,쇼핑,시장,재래시장,기타,1
393008,202109,20210930,19,foreign,F,40s,Grid906_2992,Grid908_2985,8,17,1,99,쇼핑,시장,재래시장,기타,1
393012,202109,20210930,19,foreign,F,50s,Grid910_2987,Grid908_2985,8,17,1,99,쇼핑,시장,재래시장,기타,1
393020,202109,20210930,19,foreign,M,30s,Grid807_2862,Grid888_2839,8,17,1,99,쇼핑,시장,재래시장,기타,1
393106,202109,20210930,20,foreign,NaN,NaN,Grid885_2840,Grid888_2839,8,17,1,99,쇼핑,시장,재래시장,기타,1

In [23]:
data = pd.read_csv('/Users/leedonghyeok/Desktop/data_jeju/내비게이션데이터/10월/티맵 OD data_1001_1005.csv', 
                   delimiter = ',')
data_1001_1005 = data[data['cate_name_b'] == '시장']

data = pd.read_csv('/Users/leedonghyeok/Desktop/data_jeju/내비게이션데이터/10월/티맵 OD data_1006_1010.csv', 
                   delimiter = ',')
data_1006_1010 = data[data['cate_name_b'] == '시장']

data = pd.read_csv('/Users/leedonghyeok/Desktop/data_jeju/내비게이션데이터/10월/티맵 OD data_1011_1015.csv', 
                   delimiter = ',')
data_1011_1015 = data[data['cate_name_b'] == '시장']

data = pd.read_csv('/Users/leedonghyeok/Desktop/data_jeju/내비게이션데이터/10월/티맵 OD data_1016_1020.csv', 
                   delimiter = ',')
data_1016_1020 = data[data['cate_name_b'] == '시장']

data = pd.read_csv('/Users/leedonghyeok/Desktop/data_jeju/내비게이션데이터/10월/티맵 OD data_1021_1025.csv', 
                   delimiter = ',')
data_1021_1025 = data[data['cate_name_b'] == '시장']

data = pd.read_csv('/Users/leedonghyeok/Desktop/data_jeju/내비게이션데이터/10월/티맵 OD data_1026_1031.csv', 
                   delimiter = ',')
data_1026_1031 = data[data['cate_name_b'] == '시장']

In [24]:
october = pd.concat([data_1001_1005, data_1006_1010, data_1011_1015, data_1016_1020, data_1021_1025, data_1026_1031],
               axis = 0)

october

,std_ym,std_ymd,arrival_hour,local_user,sex,age,org,dest,catecode_a,catecode_b,catecode_c,catecode_d,cate_name_a,cate_name_b,cate_name_c,cate_name_d,visit_cnt
57,202110,20211001,2,local,NaN,NaN,Grid947_2848,Grid908_2985,8,17,1,99,쇼핑,시장,재래시장,기타,1
414,202110,20211001,8,foreign,M,50s,Grid873_2844,Grid888_2839,8,17,1,99,쇼핑,시장,재래시장,기타,1
469,202110,20211001,8,local,NaN,NaN,Grid883_2844,Grid882_2862,8,17,3,1,쇼핑,시장,농수축산물시장,농산물시장,1
673,202110,20211001,9,foreign,NaN,NaN,Grid889_2839,Grid888_2839,8,17,1,99,쇼핑,시장,재래시장,기타,1
773,202110,20211001,9,foreign,M,30s,Grid727_2973,Grid887_2839,8,17,3,2,쇼핑,시장,농수축산물시장,수산물시장,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
570928,202110,20211031,20,foreign,M,40s,Grid1025_2942,Grid908_2985,8,17,1,99,쇼핑,시장,재래시장,기타,1
570930,202110,20211031,20,foreign,M,40s,Grid794_2870,Grid870_2862,8,17,99,99,쇼핑,시장,시장기타,기타,1
570935,202110,20211031,20,foreign,M,40s,Grid885_2841,Grid888_2839,8,17,1,99,쇼핑,시장,재래시장,기타,1
570980,202110,20211031,21,foreign,NaN,NaN,Grid836_2987,Grid908_2985,8,17,1,99,쇼핑,시장,재래시장,기타,1
571013,202110,20211031,21,foreign,M,40s,Grid893_2851,Grid888_2839,8,17,1,99,쇼핑,시장,재래시장,기타,1

In [25]:
data = pd.read_csv('/Users/leedonghyeok/Desktop/data_jeju/내비게이션데이터/11월/티맵 OD data_1101_1105.csv', 
                   delimiter = ',')
data_1101_1105 = data[data['cate_name_b'] == '시장']

data = pd.read_csv('/Users/leedonghyeok/Desktop/data_jeju/내비게이션데이터/11월/티맵 OD data_1106_1110.csv', 
                   delimiter = ',')
data_1106_1110 = data[data['cate_name_b'] == '시장']

data = pd.read_csv('/Users/leedonghyeok/Desktop/data_jeju/내비게이션데이터/11월/티맵 OD data_1111_1115.csv', 
                   delimiter = ',')
data_1111_1115 = data[data['cate_name_b'] == '시장']

data = pd.read_csv('/Users/leedonghyeok/Desktop/data_jeju/내비게이션데이터/11월/티맵 OD data_1116_1120.csv', 
                   delimiter = ',')
data_1116_1120 = data[data['cate_name_b'] == '시장']

data = pd.read_csv('/Users/leedonghyeok/Desktop/data_jeju/내비게이션데이터/11월/티맵 OD data_1121_1125.csv', 
                   delimiter = ',')
data_1121_1125 = data[data['cate_name_b'] == '시장']

data = pd.read_csv('/Users/leedonghyeok/Desktop/data_jeju/내비게이션데이터/11월/티맵 OD data_1126_1130.csv', 
                   delimiter = ',')
data_1126_1130 = data[data['cate_name_b'] == '시장']

In [26]:
november = pd.concat([data_1101_1105, data_1106_1110, data_1111_1115, data_1116_1120, data_1121_1125, data_1126_1130],
               axis = 0)

november

,std_ym,std_ymd,arrival_hour,local_user,sex,age,org,dest,catecode_a,catecode_b,catecode_c,catecode_d,cate_name_a,cate_name_b,cate_name_c,cate_name_d,visit_cnt
259,202111,20211101,7,foreign,NaN,NaN,Grid894_2835,Grid888_2839,8,17,1,99,쇼핑,시장,재래시장,기타,1
261,202111,20211101,7,foreign,NaN,NaN,Grid909_2987,Grid908_2985,8,17,1,99,쇼핑,시장,재래시장,기타,1
295,202111,20211101,7,foreign,M,40s,Grid761_2914,Grid767_2892,8,17,1,99,쇼핑,시장,재래시장,기타,1
330,202111,20211101,7,local,NaN,NaN,Grid877_2842,Grid771_2890,8,17,1,99,쇼핑,시장,재래시장,기타,1
345,202111,20211101,7,local,NaN,NaN,Grid946_2822,Grid888_2836,8,17,3,99,쇼핑,시장,농수축산물시장,기타,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
417062,202111,20211130,19,foreign,F,40s,Grid885_2986,Grid908_2985,8,17,1,99,쇼핑,시장,재래시장,기타,1
417078,202111,20211130,19,foreign,M,40s,Grid889_2841,Grid888_2839,8,17,1,99,쇼핑,시장,재래시장,기타,1
417139,202111,20211130,20,foreign,NaN,NaN,Grid861_2851,Grid888_2839,8,17,1,99,쇼핑,시장,재래시장,기타,1
417145,202111,20211130,20,foreign,NaN,NaN,Grid880_2844,Grid888_2839,8,17,1,99,쇼핑,시장,재래시장,기타,1
417159,202111,20211130,20,foreign,F,40s,Grid877_2845,Grid888_2839,8,17,1,99,쇼핑,시장,재래시장,기타,1

In [27]:
data = pd.read_csv('/Users/leedonghyeok/Desktop/data_jeju/내비게이션데이터/12월/티맵 OD data_1201_1205.csv', 
                   delimiter = ',')
data_1201_1205 = data[data['cate_name_b'] == '시장']

data = pd.read_csv('/Users/leedonghyeok/Desktop/data_jeju/내비게이션데이터/12월/티맵 OD data_1206_1210.csv', 
                   delimiter = ',')
data_1206_1210 = data[data['cate_name_b'] == '시장']

data = pd.read_csv('/Users/leedonghyeok/Desktop/data_jeju/내비게이션데이터/12월/티맵 OD data_1211_1215.csv', 
                   delimiter = ',')
data_1211_1215 = data[data['cate_name_b'] == '시장']

data = pd.read_csv('/Users/leedonghyeok/Desktop/data_jeju/내비게이션데이터/12월/티맵 OD data_1216_1220.csv', 
                   delimiter = ',')
data_1216_1220 = data[data['cate_name_b'] == '시장']

data = pd.read_csv('/Users/leedonghyeok/Desktop/data_jeju/내비게이션데이터/12월/티맵 OD data_1221_1225.csv', 
                   delimiter = ',')
data_1221_1225 = data[data['cate_name_b'] == '시장']

data = pd.read_csv('/Users/leedonghyeok/Desktop/data_jeju/내비게이션데이터/12월/티맵 OD data_1226_1231.csv', 
                   delimiter = ',')
data_1226_1231 = data[data['cate_name_b'] == '시장']

In [28]:
december = pd.concat([data_1201_1205, data_1206_1210, data_1211_1215, data_1216_1220, data_1221_1225, data_1226_1231],
               axis = 0)

december

,std_ym,std_ymd,arrival_hour,local_user,sex,age_group,org,dest,cate_name_a,cate_name_b,cate_name_c,cate_name_d,next_dest,next_cate_name_a,next_cate_name_b,next_cate_name_c,next_cate_name_d,visit_cnt
547,202112,20211201,5,local,M,70s,Grid261_510,Grid125_527,쇼핑,시장,재래시장,기타,NaN,NaN,NaN,NaN,NaN,1
1036,202112,20211201,7,foreign,NaN,NaN,Grid276_365,Grid125_527,쇼핑,시장,재래시장,기타,Grid272_359,건물/시설,주요건물,아파트브랜드,기타,1
1361,202112,20211201,7,local,NaN,NaN,Grid237_383,Grid272_359,쇼핑,시장,종합시장,기타,NaN,NaN,NaN,NaN,NaN,1
1395,202112,20211201,7,local,NaN,NaN,Grid255_363,Grid254_364,쇼핑,시장,재래시장,기타,Grid224_450,교통편의,교통시설,일반/국도휴게소,기타,1
1430,202112,20211201,7,local,NaN,NaN,Grid269_505,Grid125_527,쇼핑,시장,재래시장,기타,Grid270_508,공공편의,공공기관,등기소,기타,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
425644,202112,20211231,22,foreign,NaN,NaN,Grid231_376,Grid254_364,쇼핑,시장,재래시장,기타,NaN,NaN,NaN,NaN,NaN,1
425715,202112,20211231,22,foreign,NaN,NaN,Grid244_373,Grid254_364,쇼핑,시장,재래시장,기타,Grid166_390,여행/레저,숙박,게스트하우스,기타,1
425891,202112,20211231,22,foreign,M,30s,Grid229_384,Grid254_364,쇼핑,시장,재래시장,기타,Grid233_379,여행/레저,숙박,호텔,5성급,1
425906,202112,20211231,22,foreign,M,30s,Grid241_370,Grid254_364,쇼핑,시장,재래시장,기타,Grid437_388,여행/레저,숙박,펜션,기타,1
425937,202112,20211231,22,foreign,M,40s,Grid160_511,Grid206_510,쇼핑,시장,재래시장,기타,NaN,NaN,NaN,NaN,NaN,1

In [30]:
data = pd.read_csv('/Users/leedonghyeok/Desktop/data_jeju/내비게이션데이터/1월/tmap_OD_202101.csv', 
                   delimiter = '|')
january = data[data['DEST_CLASS_CD_2'] == 17]

january

,STD_YM,STD_YMD,ETC,GENDER,AGE,ORG,DEST,DEST_HH,DEST_MM,TOTAL_TIME,DEST_CLASS_CD_1,DEST_CLASS_CD_2,DEST_CLASS_CD_3,CNT
124,202101,20210101,local,M,20,Grid240_376,Grid407_357,11,29,46,8,17,1,1
289,202101,20210101,local,M,30,Grid121_469,Grid125_527,14,2,44,8,17,1,1
662,202101,20210101,local,M,30,Grid238_369,Grid254_362,13,4,9,8,17,3,1
1838,202101,20210101,local,M,40,Grid271_514,Grid271_511,15,20,3,8,17,1,1
1970,202101,20210101,local,M,40,Grid319_494,Grid229_373,19,9,11,8,17,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
476790,202101,20210131,visit,W,60,Grid152_399,Grid176_388,11,54,11,8,17,3,1
476898,202101,20210131,visit,W,60,Grid308_501,Grid271_511,18,21,15,8,17,1,1
476904,202101,20210131,visit,W,60,Grid321_408,Grid271_511,15,34,40,8,17,1,1
476926,202101,20210131,visit,W,60,Grid377_479,Grid352_491,17,54,12,8,17,3,1
476947,202101,20210131,visit,W,70,Grid120_432,Grid136_415,11,38,6,8,17,1,1

In [31]:
data = pd.read_csv('/Users/leedonghyeok/Desktop/data_jeju/내비게이션데이터/2월/tmap_OD_202102.csv', 
                   delimiter = '|')
feburary = data[data['DEST_CLASS_CD_2'] == 17]

feburary

,STD_YM,STD_YMD,ETC,GENDER,AGE,ORG,DEST,DEST_HH,DEST_MM,TOTAL_TIME,DEST_CLASS_CD_1,DEST_CLASS_CD_2,DEST_CLASS_CD_3,CNT
641,202102,20210201,local,M,30,Grid231_379,Grid254_364,17,24,32,8,17,1,1
715,202102,20210201,local,M,30,Grid237_375,Grid254_364,15,14,14,8,17,1,1
802,202102,20210201,local,M,30,Grid244_366,Grid231_375,14,28,12,8,17,99,1
829,202102,20210201,local,M,30,Grid246_373,Grid249_365,18,6,7,8,17,1,1
1032,202102,20210201,local,M,30,Grid263_365,Grid249_365,15,37,17,8,17,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
656685,202102,20210228,visit,W,60,Grid173_489,Grid271_511,18,41,29,8,17,1,1
656717,202102,20210228,visit,W,60,Grid199_504,Grid203_507,16,15,8,8,17,3,1
656722,202102,20210228,visit,W,60,Grid201_506,Grid271_511,16,30,5,8,17,1,1
656927,202102,20210228,visit,W,60,Grid437_406,Grid271_510,16,32,61,8,17,1,1
656970,202102,20210228,visit,W,70,Grid240_501,Grid272_511,17,41,19,8,17,1,1

In [32]:
data = pd.read_csv('/Users/leedonghyeok/Desktop/data_jeju/내비게이션데이터/3월/tmap_OD_202103.csv', 
                   delimiter = '|')
march = data[data['DEST_CLASS_CD_2'] == 17]

march

,STD_YM,STD_YMD,ETC,GENDER,AGE,ORG,DEST,DEST_HH,DEST_MM,TOTAL_TIME,DEST_CLASS_CD_1,DEST_CLASS_CD_2,DEST_CLASS_CD_3,CNT
62,202103,20210301,local,M,20,Grid215_503,Grid271_511,13,4,23,8,17,1,1
143,202103,20210301,local,M,20,Grid241_378,Grid254_364,14,27,22,8,17,1,1
342,202103,20210301,local,M,30,Grid133_518,Grid128_526,12,31,5,8,17,2,1
885,202103,20210301,local,M,30,Grid257_374,Grid231_375,20,46,40,8,17,99,1
952,202103,20210301,local,M,30,Grid262_395,Grid433_398,19,35,2,8,17,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
785507,202103,20210331,visit,W,60,Grid273_512,Grid271_511,13,21,1,8,17,1,1
785636,202103,20210331,visit,W,60,Grid367_401,Grid381_431,18,0,12,8,17,3,1
785675,202103,20210331,visit,W,60,Grid404_358,Grid407_357,16,6,1,8,17,1,1
785690,202103,20210331,visit,W,60,Grid435_399,Grid271_511,17,50,70,8,17,1,1
785739,202103,20210331,visit,W,70,Grid229_373,Grid254_364,15,7,26,8,17,1,1

In [33]:
data = pd.read_csv('/Users/leedonghyeok/Desktop/data_jeju/내비게이션데이터/4월/tmap_OD_202104.csv', 
                   delimiter = '|')
april = data[data['DEST_CLASS_CD_2'] == 17]

april

,STD_YM,STD_YMD,ETC,GENDER,AGE,ORG,DEST,DEST_HH,DEST_MM,TOTAL_TIME,DEST_CLASS_CD_1,DEST_CLASS_CD_2,DEST_CLASS_CD_3,CNT
236,202104,20210401,local,M,20,Grid264_386,Grid254_369,13,46,16,8,17,1,1
256,202104,20210401,local,M,20,Grid271_508,Grid271_511,18,47,11,8,17,1,1
363,202104,20210401,local,M,30,Grid127_525,Grid124_527,15,5,3,8,17,1,1
449,202104,20210401,local,M,30,Grid177_517,Grid214_516,15,7,17,8,17,3,1
568,202104,20210401,local,M,30,Grid219_392,Grid276_501,7,59,47,8,17,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
913633,202104,20210430,visit,W,60,Grid331_449,Grid407_357,17,44,59,8,17,1,1
913714,202104,20210430,visit,W,70,Grid163_485,Grid206_510,12,38,11,8,17,1,1
913722,202104,20210430,visit,W,70,Grid192_502,Grid206_510,17,56,12,8,17,1,1
913734,202104,20210430,visit,W,70,Grid233_378,Grid235_388,18,3,11,8,17,99,1
913774,202104,20210430,visit,W,70,Grid289_412,Grid235_388,16,33,17,8,17,99,1

In [34]:
data = pd.read_csv('/Users/leedonghyeok/Desktop/data_jeju/내비게이션데이터/5월/tmap_OD_202105.csv', 
                   delimiter = '|')
may = data[data['DEST_CLASS_CD_2'] == 17]

may

,STD_YM,STD_YMD,ETC,GENDER,AGE,ORG,DEST,DEST_HH,DEST_MM,TOTAL_TIME,DEST_CLASS_CD_1,DEST_CLASS_CD_2,DEST_CLASS_CD_3,CNT
273,202105,20210501,local,M,20,Grid262_380,Grid249_365,18,5,20,8,17,1,1
321,202105,20210501,local,M,20,Grid297_510,Grid271_511,13,53,16,8,17,1,1
378,202105,20210501,local,M,20,Grid407_363,Grid407_357,12,41,5,8,17,1,1
433,202105,20210501,local,M,30,Grid120_478,Grid124_527,13,37,22,8,17,1,1
531,202105,20210501,local,M,30,Grid150_400,Grid271_511,18,59,40,8,17,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
971059,202105,20210531,visit,W,50,Grid395_468,Grid271_511,18,16,5,8,17,1,1
971252,202105,20210531,visit,W,60,Grid129_529,Grid128_526,15,25,2,8,17,2,1
971277,202105,20210531,visit,W,60,Grid152_522,Grid271_511,17,21,29,8,17,1,1
971371,202105,20210531,visit,W,60,Grid222_476,Grid271_511,16,26,37,8,17,1,1
971373,202105,20210531,visit,W,60,Grid222_508,Grid271_511,17,45,23,8,17,1,1

In [50]:
first_half = pd.concat([january, feburary, march, april, may])
second_half =  pd.concat([june, july, august, september, october, november, december])

market = pd.concat([first_half['DEST'],second_half['dest']])

selected_market = market.value_counts()

print(selected_market.head(5))

Grid888_2839    160055
Grid908_2985    124324
Grid254_364      34605
Grid271_510      19832
Grid870_2862     17028
dtype: int64