,LDGMNT_MT,LDGMNT_DE,CTY_NM,SIGNGU_NM,ADSTRD_NM,LDGMNT_TY_NM,LDGMNT_RATE
0,1,20210101,강원도,강릉시,포남1동,호텔,83
1,1,20210101,강원도,강릉시,초당동,호텔,4
2,1,20210101,강원도,강릉시,중앙동,호텔,100
3,1,20210101,강원도,강릉시,주문진읍,호텔,24
4,1,20210101,강원도,강릉시,옥천동,호텔,7
...,...,...,...,...,...,...,...
103302,1,20210131,충청북도,충주시,동량면,모텔,8
103303,1,20210131,충청북도,충주시,대소원면,모텔,18
103304,1,20210131,충청북도,충주시,칠금.금릉동,게스트하우스,0
103305,1,20210131,충청북도,충주시,살미면,게스트하우스,0
103306,1,20210131,충청북도,충주시,금가면,게스트하우스,0

In [5]:
data1 = data.loc[:,['CTY_NM', 'SIGNGU_NM', 'ADSTRD_NM', 'LDGMNT_TY_NM', 'LDGMNT_RATE']]

In [15]:
jeju = data1[data1['CTY_NM']=='제주특별자치도']

In [17]:
jeju2 = jeju[jeju['ADSTRD_NM'] == '이도1동']

In [31]:
jeju['ADSTRD_NM'].value_counts()
# 동문시장이 이도1동인데 가장 적은 값이 나옴

도두동     124
이호동     124
애월읍     124
중문동     124
남원읍     124
성산읍     124
표선면     124
외도동     124
안덕면     124
연동      124
한경면     124
천지동     124
용담2동    124
한림읍     124
정방동     124
이도2동    124
예래동     124
대정읍     124
구좌읍     124
대륜동     124
대천동     124
영천동     124
노형동     124
삼도1동    124
송산동     124
조천읍     124
일도1동    124
용담1동    113
삼양동      93
봉개동      93
효돈동      93
이도1동     93
오라동      93
삼도2동     93
건입동      93
중앙동      93
아라동      93
서홍동      62
동홍동      62
우도면      62
일도2동     62
화북동      31
Name: ADSTRD_NM, dtype: int64

In [11]:
import pandas as pd

data = pd.read_csv('/Users/leedonghyeok/Desktop/data_jeju/이동통신데이터/4.행정동단위/1.1) 총 방문객.csv', 
                   delimiter = '|', encoding = 'CP949')
data.head(20)

    RANK  STD_YM  SGNG_DONG_CD SGNG_DO_NM SGNG_GU_NM SGNG_DONG_NM     POP
0      1  202101    5011058000    제주특별자치도        제주시         용담2동  525786
1      2  202101    5011025300    제주특별자치도        제주시          애월읍  442606
2      3  202101    5013031000    제주특별자치도       서귀포시          안덕면  342980
3      4  202101    5011065000    제주특별자치도        제주시           연동  340332
4      5  202101    5013025900    제주특별자치도       서귀포시          성산읍  279039
5      6  202101    5011025900    제주특별자치도        제주시          조천읍  278139
6      7  202101    5011066000    제주특별자치도        제주시          노형동  263575
7      8  202101    5011025000    제주특별자치도        제주시          한림읍  245540
8      9  202101    5011025600    제주특별자치도        제주시          구좌읍  245380
9     10  202101    5013062000    제주특별자치도       서귀포시          예래동  237819
10    11  202101    5013025300    제주특별자치도       서귀포시          남원읍  181037
11    12  202101    5013059000    제주특별자치도       서귀포시          대륜동  177654
12    13  202101    5013032000    제주특별자치도       서귀포시          표선면  161574
13    14  202101    5013025000    제주특별자치도       서귀포시          대정읍  155325
14    15  202101    5013061000    제주특별자치도       서귀포시          중문동  140408
15    16  202101    5011054000    제주특별자치도        제주시         이도2동  122589
16    17  202101    5013051000    제주특별자치도       서귀포시          송산동  121817
17    18  202101    5013060000    제주특별자치도       서귀포시          대천동  121636
18    19  202101    5011052000    제주특별자치도        제주시         일도2동  121342
19    20  202101    5011031000    제주특별자치도        제주시          한경면  107564

In [27]:
data2 = data.groupby('SGNG_DONG_NM').sum()

df = data2.sort_values(by = 'POP',ascending = False)

dong = df['POP']

dong.head(10)

₩
# 2021년 사람들이 가장 많이 머물렀던 위치
# 1등 공항
# 2등 애월
# 3등 ?
# 4등 제주 시내
# 5등 성산일출봉, 섭지코지

SGNG_DONG_NM
용담2동    15178935
애월읍     11573369
안덕면      8925627
연동       8064864
성산읍      7665598
조천읍      7464880
한림읍      6965728
구좌읍      6951616
예래동      6297928
노형동      5764447
Name: POP, dtype: int64

In [10]:
df = data.sort_values(by = 'POP_20G_30G',ascending = False)
df = data.sort_values(by = 'SUM_POP',ascending = False)
df.tail(20)

,STD_YM,SGNG_DONG_CD,SGNG_DO_NM,SGNG_GU_NM,SGNG_DONG_NM,POP_0G_10G,RATE_0G_10G,POP_20G_30G,RATE_20G_30G,POP_40G_60G,RATE_40G_60G,POP_70GU,RATE_70GU,SUM_POP
314,202108,5011057000,제주특별자치도,제주시,용담1동,3515,11.64,15574,51.56,10358,34.29,757,2.51,30204
5,202101,5011032000,제주특별자치도,제주시,추자면,1644,5.73,6279,21.90,19494,67.98,1258,4.39,28675
185,202105,5011057000,제주특별자치도,제주시,용담1동,2627,9.33,13349,47.41,11491,40.81,688,2.44,28155
228,202106,5011057000,제주특별자치도,제주시,용담1동,2017,7.28,13676,49.35,11361,41.00,657,2.37,27711
140,202104,5011055000,제주특별자치도,제주시,삼도1동,1826,6.78,12088,44.90,12074,44.84,937,3.48,26925
142,202104,5011057000,제주특별자치도,제주시,용담1동,1407,5.30,13027,49.05,11265,42.42,859,3.23,26558
382,202109,5013058000,제주특별자치도,서귀포시,서홍동,2660,10.07,12407,46.97,10516,39.81,833,3.15,26416
48,202102,5011032000,제주특별자치도,제주시,추자면,1908,7.62,5669,22.65,16553,66.12,904,3.61,25034
253,202106,5013058000,제주특별자치도,서귀포시,서홍동,2564,10.47,10939,44.65,10347,42.24,647,2.64,24497
38,202101,5013058000,제주특별자치도,서귀포시,서홍동,4790,21.52,9602,43.15,7382,33.17,480,2.16,22254
210,202105,5013058000,제주특별자치도,서귀포시,서홍동,2537,11.43,9009,40.60,9947,44.83,696,3.14,22189
167,202104,5013058000,제주특별자치도,서귀포시,서홍동,1130,5.31,8614,40.47,10500,49.33,1040,4.89,21284
97,202103,5011055000,제주특별자치도,제주시,삼도1동,1078,5.08,9893,46.64,9386,44.25,854,4.03,21211
81,202102,5013058000,제주특별자치도,서귀포시,서홍동,2841,14.19,9119,45.53,7726,38.58,341,1.70,20027
99,202103,5011057000,제주특별자치도,제주시,용담1동,1336,6.98,8665,45.28,8186,42.78,949,4.96,19136
54,202102,5011055000,제주특별자치도,제주시,삼도1동,2090,10.92,9356,48.89,7418,38.76,272,1.42,19136
124,202103,5013058000,제주특별자치도,서귀포시,서홍동,864,4.61,7830,41.76,9230,49.23,826,4.41,18750
11,202101,5011055000,제주특별자치도,제주시,삼도1동,3005,16.07,8129,43.47,7240,38.71,327,1.75,18701
56,202102,5011057000,제주특별자치도,제주시,용담1동,1959,12.51,7720,49.28,5766,36.81,219,1.40,15664
13,202101,5011057000,제주특별자치도,제주시,용담1동,972,9.12,4984,46.75,4545,42.63,160,1.50,10661

In [44]:
data1 = data[data['DEST_CLASS_CD_1']==8]
market = data1[data1['DEST_CLASS_CD_2']==17]
market

# 시장 중 목적지가 높은 순으로 나열해서 몇 개 뽑는 것이 좋아보임

,STD_YM,STD_YMD,ETC,GENDER,AGE,ORG,DEST,DEST_HH,DEST_MM,TOTAL_TIME,DEST_CLASS_CD_1,DEST_CLASS_CD_2,DEST_CLASS_CD_3,CNT
124,202101,20210101,local,M,20,Grid240_376,Grid407_357,11,29,46,8,17,1,1
289,202101,20210101,local,M,30,Grid121_469,Grid125_527,14,2,44,8,17,1,1
662,202101,20210101,local,M,30,Grid238_369,Grid254_362,13,4,9,8,17,3,1
1838,202101,20210101,local,M,40,Grid271_514,Grid271_511,15,20,3,8,17,1,1
1970,202101,20210101,local,M,40,Grid319_494,Grid229_373,19,9,11,8,17,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
476790,202101,20210131,visit,W,60,Grid152_399,Grid176_388,11,54,11,8,17,3,1
476898,202101,20210131,visit,W,60,Grid308_501,Grid271_511,18,21,15,8,17,1,1
476904,202101,20210131,visit,W,60,Grid321_408,Grid271_511,15,34,40,8,17,1,1
476926,202101,20210131,visit,W,60,Grid377_479,Grid352_491,17,54,12,8,17,3,1
476947,202101,20210131,visit,W,70,Grid120_432,Grid136_415,11,38,6,8,17,1,1

In [ ]:
# 이동통신데이터 중 블록단위로 시장을 찾는 것도 좋을 듯

In [41]:
# 사람이 많은 순

import pandas as pd

data = pd.read_csv('/Users/leedonghyeok/Desktop/data_jeju/이동통신데이터/4.행정동단위/1.1) 총 방문객.csv', 
                   delimiter = '|', encoding = 'CP949')

data2 = data.groupby('SGNG_DONG_NM').sum()

df = data2.sort_values(by = 'POP',ascending = False)

df.head(20)

              RANK   STD_YM  SGNG_DONG_CD       POP
SGNG_DONG_NM
용담2동            12  2425278   60132696000  15178935
애월읍             24  2425278   60132303600  11573369
안덕면             37  2425278   60156372000   8925627
연동              58  2425278   60132780000   8064864
성산읍             60  2425278   60156310800   7665598
조천읍             71  2425278   60132310800   7464880
한림읍             89  2425278   60132300000   6965728
구좌읍             87  2425278   60132307200   6951616
예래동            110  2425278   60156744000   6297928
노형동            113  2425278   60132792000   5764447
표선면            137  2425278   60156384000   4485323
대정읍            151  2425278   60156300000   4181477
대륜동            159  2425278   60156708000   3921712
남원읍            164  2425278   60156303600   3870949
중문동            169  2425278   60156732000   3826458
한경면            197  2425278   60132372000   3149607
송산동            221  2425278   60156612000   2467848
일도2동           235  2425278   60132624000   2344408
대천동            241  2425278   60156720000   2252433
삼도2동           259  2425278   60132672000   2169607

In [30]:
# 성별

import pandas as pd

data = pd.read_csv('/Users/leedonghyeok/Desktop/data_jeju/이동통신데이터/4.행정동단위/2.1) 남성 여성 방문객 분석.csv', 
                   delimiter = '|', encoding = 'CP949')

data2 = data.groupby('SGNG_DONG_NM').sum()

In [34]:
men = data2.sort_values(by = 'M_POP',ascending = False)

women = data2.sort_values(by = 'W_POP',ascending = False)

In [38]:
men.head(10)

,STD_YM,SGNG_DONG_CD,M_POP,M_RATE,W_POP,W_RATE,SUM_POP
SGNG_DONG_NM,,,,,,,
용담2동,2425278,60132696000,7328192,583.9,7850743,616.1,15178935
애월읍,2425278,60132303600,5430023,566.0,6143346,634.0,11573369
연동,2425278,60132780000,4150551,621.2,3914313,578.8,8064864
안덕면,2425278,60156372000,4116266,556.7,4809361,643.3,8925627
성산읍,2425278,60156310800,3553933,560.3,4111665,639.7,7665598
조천읍,2425278,60132310800,3487273,565.0,3977607,635.0,7464880
한림읍,2425278,60132300000,3236172,561.6,3729556,638.4,6965728
구좌읍,2425278,60132307200,3107529,539.9,3844087,660.1,6951616
예래동,2425278,60156744000,2958848,565.5,3339080,634.5,6297928
노형동,2425278,60132792000,2942109,615.4,2822338,584.6,5764447

In [39]:
women.head(10)

,STD_YM,SGNG_DONG_CD,M_POP,M_RATE,W_POP,W_RATE,SUM_POP
SGNG_DONG_NM,,,,,,,
용담2동,2425278,60132696000,7328192,583.9,7850743,616.1,15178935
애월읍,2425278,60132303600,5430023,566.0,6143346,634.0,11573369
안덕면,2425278,60156372000,4116266,556.7,4809361,643.3,8925627
성산읍,2425278,60156310800,3553933,560.3,4111665,639.7,7665598
조천읍,2425278,60132310800,3487273,565.0,3977607,635.0,7464880
연동,2425278,60132780000,4150551,621.2,3914313,578.8,8064864
구좌읍,2425278,60132307200,3107529,539.9,3844087,660.1,6951616
한림읍,2425278,60132300000,3236172,561.6,3729556,638.4,6965728
예래동,2425278,60156744000,2958848,565.5,3339080,634.5,6297928
노형동,2425278,60132792000,2942109,615.4,2822338,584.6,5764447

In [3]:
import pandas as pd

data = pd.read_csv('/Users/leedonghyeok/Desktop/data_jeju/내비게이션데이터/7월/티맵 OD data_0701_0705.csv', 
                   delimiter = ',')

data_0701_0705 = data[data['cate_name_b'] == '시장']

data_0701_0705.head(20)

,std_ym,std_ymd,arrival_hour,local_user,sex,age,org,dest,catecode_a,catecode_b,catecode_c,catecode_d,cate_name_a,cate_name_b,cate_name_c,cate_name_d,visit_cnt
309,202107,20210701,8,foreign,NaN,NaN,Grid767_2894,Grid761_3001,8,17,1,99,쇼핑,시장,재래시장,기타,1
345,202107,20210701,8,foreign,NaN,NaN,Grid870_2846,Grid888_2839,8,17,1,99,쇼핑,시장,재래시장,기타,1
409,202107,20210701,8,foreign,F,50s,Grid874_2838,Grid888_2839,8,17,1,99,쇼핑,시장,재래시장,기타,1
706,202107,20210701,9,foreign,NaN,NaN,Grid892_2851,Grid888_2839,8,17,1,99,쇼핑,시장,재래시장,기타,1
744,202107,20210701,9,foreign,NaN,NaN,Grid989_2819,Grid888_2839,8,17,1,99,쇼핑,시장,재래시장,기타,1
752,202107,20210701,9,foreign,F,30s,Grid758_2914,Grid761_3001,8,17,1,99,쇼핑,시장,재래시장,기타,1
840,202107,20210701,9,foreign,M,30s,Grid953_2824,Grid953_2823,8,17,1,99,쇼핑,시장,재래시장,기타,1
895,202107,20210701,9,foreign,M,60s,Grid976_2842,Grid1041_2831,8,17,1,99,쇼핑,시장,재래시장,기타,1
1073,202107,20210701,10,foreign,NaN,NaN,Grid803_2868,Grid888_2839,8,17,1,99,쇼핑,시장,재래시장,기타,1
1117,202107,20210701,10,foreign,NaN,NaN,Grid867_2855,Grid888_2839,8,17,1,99,쇼핑,시장,재래시장,기타,1
1192,202107,20210701,10,foreign,NaN,NaN,Grid890_2853,Grid888_2839,8,17,1,99,쇼핑,시장,재래시장,기타,1
1200,202107,20210701,10,foreign,NaN,NaN,Grid901_2991,Grid908_2985,8,17,1,99,쇼핑,시장,재래시장,기타,1
1237,202107,20210701,10,foreign,NaN,NaN,Grid992_2816,Grid953_2823,8,17,1,99,쇼핑,시장,재래시장,기타,1
1292,202107,20210701,10,foreign,F,40s,Grid954_2824,Grid953_2823,8,17,1,99,쇼핑,시장,재래시장,기타,1
1418,202107,20210701,10,foreign,M,40s,Grid906_2841,Grid888_2839,8,17,1,99,쇼핑,시장,재래시장,기타,1
1529,202107,20210701,10,local,NaN,NaN,Grid893_2869,Grid882_2862,8,17,3,1,쇼핑,시장,농수축산물시장,농산물시장,1
1553,202107,20210701,10,local,NaN,30s,Grid1063_2863,Grid888_2839,8,17,3,2,쇼핑,시장,농수축산물시장,수산물시장,1
1565,202107,20210701,10,local,F,40s,Grid793_2956,Grid761_3001,8,17,1,99,쇼핑,시장,재래시장,기타,1
1591,202107,20210701,10,local,M,40s,Grid775_2969,Grid761_3001,8,17,1,99,쇼핑,시장,재래시장,기타,1
1678,202107,20210701,11,foreign,NaN,NaN,Grid777_3000,Grid764_3000,8,17,2,99,쇼핑,시장,종합시장,기타,1

In [2]:
import pandas as pd

df = pd.read_csv("/Users/leedonghyeok/Desktop/data_jeju/2019_2021 신용카드 데이터(해커톤용)/2021_내국인신용카드데이터.csv"
                , encoding = 'CP949')

/Users/leedonghyeok/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (6) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,Unnamed: 0,GB,CLN_GB,TA_YM,DAY_GB,TOUR_GB,SEX_CCD,AGE_GB,M_SI_NM,M_DONG_NM,BLK,C_SIDO_NM,IDCS_CD,AMT_CORR,USECT_CORR
0,1,1,개인,202101,공휴일,관광객,F,2.0,서귀포시,남원읍,Grid303_478,서울,90231,200454.0,11
1,2,1,개인,202101,공휴일,관광객,F,2.0,서귀포시,남원읍,Grid310_498,충북,56111,161477.0,6
2,3,1,개인,202101,공휴일,관광객,F,2.0,서귀포시,남원읍,Grid314_499,경기,562,66818.0,6
3,4,1,개인,202101,공휴일,관광객,F,2.0,서귀포시,남원읍,Grid315_496,서울,47122,58187.0,6
4,5,1,개인,202101,공휴일,관광객,F,2.0,서귀포시,남원읍,Grid318_498,경기,56111,111363.0,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8232944,37797710,1,법인,202112,비주말,도민,NaN,NaN,제주시,우도면,Grid451_367,제주,64131,15809455.0,138
8232945,37797810,1,법인,202112,비주말,관광객,NaN,NaN,제주시,우도면,Grid452_367,서울,56111,412500.0,10
8232946,37797910,1,법인,202112,주말,관광객,NaN,NaN,제주시,우도면,Grid452_367,대전,50121,489107.0,10
8232947,37798010,1,법인,202112,비주말,관광객,NaN,NaN,제주시,우도면,Grid458_372,서울,56191,481250.0,20
8232948,37798110,1,법인,202112,주말,관광객,NaN,NaN,제주시,우도면,Grid458_372,울산,56112,510714.0,10

In [20]:
df = df[df['TOUR_GB'] == '관광객']

df1 = df[df['BLK'] == 'Grid271_511']

print("제주올레시장에서의 평균 소비 금액 :", round(df1['AMT_CORR'].mean()), "원")

df1

제주올레시장에서의 평균 소비 금액 : 347216 원

,Unnamed: 0,GB,CLN_GB,TA_YM,DAY_GB,TOUR_GB,SEX_CCD,AGE_GB,M_SI_NM,M_DONG_NM,BLK,C_SIDO_NM,IDCS_CD,AMT_CORR,USECT_CORR
389,390,1,개인,202101,공휴일,관광객,F,2.0,서귀포시,정방동,Grid271_511,경기,47122,12250.0,6
390,391,1,개인,202101,공휴일,관광객,F,2.0,서귀포시,정방동,Grid271_511,대전,56191,17818.0,6
391,392,1,개인,202101,공휴일,관광객,F,2.0,서귀포시,정방동,Grid271_511,부산,56191,41204.0,6
392,393,1,개인,202101,공휴일,관광객,F,2.0,서귀포시,정방동,Grid271_511,서울,47122,49000.0,6
393,394,1,개인,202101,공휴일,관광객,F,2.0,서귀포시,정방동,Grid271_511,서울,561,66261.0,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8232606,37763910,1,법인,202112,주말,관광객,NaN,NaN,서귀포시,중앙동,Grid271_511,서울,561,500893.0,10
8232607,37764010,1,법인,202112,공휴일주말,관광객,NaN,NaN,서귀포시,중앙동,Grid271_511,서울,68212,19643.0,10
8232608,37764110,1,법인,202112,비주말,관광객,NaN,NaN,서귀포시,정방동,Grid271_511,서울,47811,98214.0,10
8232841,37787410,1,법인,202112,비주말,관광객,NaN,NaN,서귀포시,중앙동,Grid271_511,경기,47190,70714.0,10
8232842,37787510,1,법인,202112,비주말,관광객,NaN,NaN,서귀포시,중앙동,Grid271_511,서울,107,58929.0,10

In [31]:
df2 = df1[['SEX_CCD', 'AGE_GB', 'BLK', 'AMT_CORR']]

df2 = df2.dropna(how = 'any')

df2

        SEX_CCD  AGE_GB          BLK  AMT_CORR
389           F     2.0  Grid271_511   12250.0
390           F     2.0  Grid271_511   17818.0
391           F     2.0  Grid271_511   41204.0
392           F     2.0  Grid271_511   49000.0
393           F     2.0  Grid271_511   66261.0
...         ...     ...          ...       ...
7854231       F     2.0  Grid271_511   58553.0
7854232       F     3.0  Grid271_511  292765.0
7854233       M     5.0  Grid271_511  250129.0
7854234       M     2.0  Grid271_511  326873.0
7854416       M     4.0  Grid271_511   57984.0

[48365 rows x 4 columns]